<template>
    <button :class="cssClasses" class="btn" @click.prevent="handleClick($event)" :disabled="disabled">
        <slot />
    </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

export default defineComponent({
    name: "Button",
    props: {
        cssClasses: {
            type: Array as PropType<string[]>,
            default: () => {
                return []
            },
        },
        disabled: Boolean,
    },
    emits: ["click"],
    setup(props, ctx) {
        const handleClick = (e: Event) => {
            ctx.emit("click", e)
        }

        return {
            handleClick,
        }
    },
})
</script>
