<template>
    <div class="fixed bottom-0 left-0 m-2">
        <button type="button" class="text-center text-xl" title="Toggle background color" @click="toggleDark">
            <span v-if="isDark">🌙</span>
            <span v-else>☀️</span>
        </button>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { useDark, useToggle } from "@vueuse/core"

export default defineComponent({
    name: "ColorModePicker",
    setup() {
        const isDark = useDark()
        const toggleDark = useToggle(isDark)

        return {
            isDark,
            toggleDark,
        }
    },
})
</script>
