<template>
    <div class="elementInput flex flex-col">
        <div class="elementInput__wrapper flex flex-col md:block" :class="Array.from(cssClasses)">
            <div class="elementInput__header flex flex-shrink-0 justify-items-center p-2">
                <div class="flex-shrink-0 whitespace-no-wrap mr-2">
                    <slot name="header" />
                </div>
                <SearchBox :css-classes="['flex-1']" v-if="showSearch" v-model="searchText" />
            </div>
            <ElementList :elements="filteredElements" @change-elementselection="changeElementSelection" />
            <div class="elementInput__actions py-2" v-if="showSelectAll || showDeselectAll">
                <a v-if="showSelectAll" href="#" @click.prevent="selectAll" :class="{ disabled: selectedElements.length == elements.length }">Select all</a>
                <a v-if="showDeselectAll" href="#" @click.prevent="deselectAll" :class="{ disabled: selectedElements.length == 0 }">Deselect all</a>
            </div>
            <Button :css-classes="['btn--primary', 'elementInput__btn-apply', 'md:hidden', 'mt-auto', 'flex-shrink-0']" @click="handleApplyButtonClicked">Apply</Button>
        </div>
        <TagList :elements="selectedElements" @deselect-element="deselectElement" />
        <Button :css-classes="['btn--primary', 'elementInput__btn-open', 'md:hidden', 'order-2']" @click="handleShowButtonClicked">
            <slot name="mobileButton" />
        </Button>
    </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, reactive, PropType } from "vue"
import { Element } from "../classes/Element"
import ElementList from "./ElementList.vue"
import TagList from "./TagList.vue"
import SearchBox from "./SearchBox.vue"
import Button from "./Button.vue"

export default defineComponent({
    name: "ElementInput",
    components: {
        ElementList,
        TagList,
        SearchBox,
        Button,
    },
    props: {
        elements: {
            type: Array as PropType<Element[]>,
            default: () => {
                return []
            },
        },
        selectedElements: {
            type: Array as PropType<Element[]>,
            default: () => {
                return []
            },
        },
        showSearch: Boolean,
        showSelectAll: Boolean,
        showDeselectAll: Boolean,
    },
    emits: ["deselect-element", "change-elementselection", "deselect-all", "select-all"],
    setup(props, ctx) {
        const deselectElement = (element: Element) => {
            ctx.emit("deselect-element", element)
        }

        const deselectAll = () => {
            ctx.emit("deselect-all")
        }

        const selectAll = () => {
            ctx.emit("select-all")
        }

        const changeElementSelection = (element: Element, selected: boolean) => {
            // just reemit
            ctx.emit("change-elementselection", element, selected)
        }

        // Filtered elements
        const searchText = ref("")

        const filteredElements = computed(() => {
            if (props.showSearch && searchText.value.length >= 3 && props.elements) {
                return props.elements.filter((element) => (<Element>element).name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1)
            }

            return props.elements
        })

        // Mobile
        let cssClasses: Set<string> = reactive(new Set(["hidden", "md:block"]))

        const handleShowButtonClicked = () => {
            cssClasses.add("open")
            cssClasses.delete("hidden")
        }
        const handleApplyButtonClicked = () => {
            cssClasses.delete("open")
            cssClasses.add("hidden")
        }

        return {
            deselectElement,
            deselectAll,
            selectAll,
            changeElementSelection,
            searchText,
            filteredElements,
            handleShowButtonClicked,
            handleApplyButtonClicked,
            cssClasses,
        }
    },
})
</script>

<style lang="postcss">
.elementInput {
    &__wrapper {
        @apply transition-colors duration-150;
        background: var(--color-background);

        &.open {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100vw;
            height: 100vh;
            height: -webkit-fill-available;
            min-height: 100vh;
            min-height: -webkit-fill-available;
            padding: 1.5rem;
        }
    }

    &__header {
        color: var(--color-header-text);
        background-color: var(--color-header-background);
        @apply transition-colors duration-150;
    }

    .taglist {
        order: 3;
    }

    &__actions {
        a {
            @apply transition-colors duration-150;
            font-size: 0.85em;

            &.disabled {
                color: var(--color-text-disabled);
                pointer-events: none;
            }

            & + a {
                &:before {
                    content: "|";
                    color: var(--color-text);
                    margin: 0 0.25rem;
                }
            }
        }
    }
}

@screen md {
    .elementInput {
        &__wrapper {
            &.open {
                position: relative;
                width: auto;
                height: auto;
                padding: 0;
                z-index: unset;
                top: unset;
                left: unset;
                min-height: unset;
            }
        }
    }
}
</style>
