<template>
    <ul class="elementInput__list overflow-y-auto py-2">
        <li class="my-1" v-for="element in elements" :key="element.id">
            <label class="flex cursor-pointer w-full items-start leading-none">
                <input type="checkbox" class="relative cursor-pointer" :checked="element.selected" @change="changeSelection(element, $event)" />
                <span class="ml-1">
                    <b v-if="element.shortName">{{ element.shortName }}</b> {{ element.name }}
                </span>
            </label>
        </li>
    </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"
import { Element } from "../classes/Element"

export default defineComponent({
    name: "ElementList",
    props: {
        elements: {
            type: Array as PropType<Element[]>,
            default: () => {
                return []
            },
        },
    },
    emits: ["change-elementselection"],
    setup(props, ctx) {
        const changeSelection = (element: Element, event: Event) => {
            ctx.emit("change-elementselection", element, (event.target as HTMLInputElement).checked)
        }

        return {
            changeSelection,
        }
    },
})
</script>

<style lang="postcss">
.elementInput {
    &__list {
        input[type="checkbox"] {
            top: 2px;
            flex: 0 0 20px;
        }
    }
}

@screen md {
    .elementInput {
        &__list {
            height: 560px;
        }
    }
}
</style>
