<template>
    <div class="container mx-auto p-6">
        <div class="block md:flex md:-mx-4">
            <div class="input1 mb-6 md:mb-0 md:flex-1 md:px-4">
                <slot name="input1" />
            </div>
            <div class="input2 mb-6 md:mb-0 md:flex-1 md:px-4">
                <slot name="input2" />
            </div>
        </div>
        <div class="results">
            <slot name="results" />
        </div>
    </div>
</template>
