<template>
    <ElementInput
        :elements="inputs"
        :selected-elements="selectedInputs"
        @deselect-element="deselectElement"
        @change-elementselection="changeElementSelection"
        @select-all="selectAll"
        @deselect-all="deselectAll"
        :show-select-all="true"
        :show-deselect-all="true"
    >
        <template #header>
            <h2>Select Material</h2>
        </template>
        <template #mobileButton> Select Material&nbsp;&rsaquo; </template>
    </ElementInput>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue"

import { elementsStore } from "../stores/elementsStore"

import { Element } from "../classes/Element"
import ElementInput from "./ElementInput.vue"

export default defineComponent({
    name: "MaterialElementInput",
    components: {
        ElementInput,
    },
    setup() {
        const state = elementsStore.getState()

        const inputs = computed(() => state.materials_all)

        const selectedInputs = computed(() => elementsStore.getSelectedMaterials())

        const deselectElement = (element: Element) => {
            elementsStore.changeMaterialSelection({ element, selected: false })
        }

        const changeElementSelection = (element: Element, selected: boolean) => {
            elementsStore.changeMaterialSelection({ element, selected })
        }

        const deselectAll = () => {
            elementsStore.deselectAllMaterials()
        }

        const selectAll = () => {
            elementsStore.selectAllMaterials()
        }

        return {
            inputs,
            selectedInputs,
            deselectElement,
            changeElementSelection,
            deselectAll,
            selectAll,
        }
    },
})
</script>
