<template>
    <p class="text-xl" :title="iconAndDescription.description">{{ iconAndDescription.icon }}</p>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from "vue"

export default defineComponent({
    name: "ResultLabel",
    props: {
        result: {
            type: Number as PropType<number>,
            required: true,
        },
    },
    setup(props) {
        const iconAndDescription = computed(() => {
            switch (props.result) {
                case 1:
                    return { icon: "✅", description: "Excellent" }
                case 2:
                    return { icon: "⚠️", description: "Moderate" }
                case 3:
                    return { icon: "⛔", description: "Unsuitable" }

                case 4:
                case 5:
                case 6:
                    return { icon: "☎️", description: "Please contact us" }
                default:
                    return { icon: "🆘", description: "Unknown status" }
            }
        })

        return {
            iconAndDescription,
        }
    },
})
</script>
