<template>
    <table v-if="reactions.length > 0" class="block w-full mt-6 overflow-x-auto md:table">
        <thead>
            <tr>
                <th>Medium</th>
                <th>°C</th>
                <th v-for="mfrId in materialsFromReactions" :key="mfrId" :title="getMaterialById(mfrId).name">
                    {{ getMaterialById(mfrId).shortName }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="react in reactions" :key="react.MaterialReactionId">
                <td>{{ getMediumById(react.MediumId).name }}</td>
                <td>{{ react.Temperature }}</td>
                <td v-for="mr in react.MaterialReactions" :key="mr.MaterialId">
                    <ResultLabel :result="mr.Reaction" />
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue"

import { elementsStore } from "../stores/elementsStore"
import { reactionsStore } from "../stores/reactionsStore"

import { ElementService } from "../services/elementService"

import ResultLabel from "./ResultLabel.vue"

export default defineComponent({
    name: "Results",
    components: {
        ResultLabel,
    },
    setup() {
        const reactionsState = reactionsStore.getState()
        const elementsState = elementsStore.getState()

        const reactions = computed(() => reactionsState.reactions_all)

        const materialsFromReactions = computed(() => {
            let materials: number[] = []

            reactionsState.reactions_all.forEach((item) => {
                const ids = item.MaterialReactions.map((innerReact) => innerReact.MaterialId)
                ids.forEach((id) => {
                    if (materials.indexOf(id) === -1) {
                        materials.push(id)
                    }
                })
            })

            return materials
        })

        const getMediumById = (id: number) => {
            return ElementService.getElementById(elementsState.media_all, id)
        }
        const getMaterialById = (id: number) => {
            return ElementService.getElementById(elementsState.materials_all, id)
        }

        return {
            reactions,
            materialsFromReactions,
            getMediumById,
            getMaterialById,
        }
    },
})
</script>

<style lang="postcss" scoped>
th,
td {
    @apply p-0.5 text-center;

    &:first-child {
        @apply text-left;
    }
}
thead {
    tr {
        background-color: var(--color-table-row-even);
    }
}
tbody {
    tr {
        &:nth-child(even) {
            background-color: var(--color-table-row-even);
        }
    }
}
</style>
