<template>
    <div :class="cssClasses" class="search relative">
        <input type="text" class="w-full" role="searchbox" :value="modelValue" @input="handleInput($event)" />
        <a class="absolute top-1/2 font-bold right-2 transform -translate-y-1/2" href="#" role="button" @click.prevent="clearSearch" v-show="modelValue">&times;</a>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

export default defineComponent({
    name: "SearchBox",
    props: {
        modelValue: {
            type: String as PropType<string>,
            required: true,
        },
        cssClasses: {
            type: Array as PropType<string[]>,
            required: true,
        },
    },
    emits: ["update:modelValue"],
    setup(props, ctx) {
        const handleInput = (event: Event) => {
            ctx.emit("update:modelValue", (event.target as HTMLInputElement).value)
        }

        const clearSearch = () => {
            ctx.emit("update:modelValue", "")
        }

        return {
            handleInput,
            clearSearch,
        }
    },
})
</script>

<style scoped>
input {
    color: var(--color-text-input);
    background-color: var(--color-background-input);
}
a {
    color: var(--color-text-input);
}
</style>
