<template>
    <ul class="taglist" v-if="elements.length > 0">
        <li v-for="selected in elements" :key="selected.id">
            <a href="#" @click.prevent="deselectElement(selected)">{{ selected.name }}&nbsp;&times;</a>
        </li>
    </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"
import { Element } from "../classes/Element"

export default defineComponent({
    name: "TagList",
    props: {
        elements: {
            type: Array as PropType<Element[]>,
            default: () => {
                return []
            },
        },
    },
    emits: ["deselect-element"],
    setup(props, ctx) {
        const deselectElement = (element: Element) => {
            ctx.emit("deselect-element", element)
        }

        return {
            deselectElement,
        }
    },
})
</script>

<style scoped>
li {
    display: inline-block;
    line-height: 1;
    margin-right: 4px;
    margin-bottom: 2px;
}
a {
    display: block;
    background: var(--color-tag-background);
    padding: 4px;
    font-size: 0.75em;
    letter-spacing: -0.05em;
    line-height: 1;
}
</style>
