<template>
    <layout>
        <template #input1>
            <MediaElementInput />
        </template>
        <template #input2>
            <MaterialElementInput />
        </template>
        <template #results>
            <Results />
        </template>
    </layout>
    <ColorModePicker />
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, watch } from "vue"

import { elementsStore } from "./stores/elementsStore"
import { reactionsStore } from "./stores/reactionsStore"

import Layout from "./components/Layout.vue"
import MediaElementInput from "./components/MediaElementInput.vue"
import MaterialElementInput from "./components/MaterialElementInput.vue"
import Results from "./components/Results.vue"
import ColorModePicker from "./components/ColorModePicker.vue"

let timeout: number

export default defineComponent({
    name: "App",
    components: {
        Layout,
        MediaElementInput,
        MaterialElementInput,
        Results,
        ColorModePicker,
    },
    setup() {
        onMounted(async () => {
            await elementsStore.getMedia()
            await elementsStore.getMaterials()
        })

        const selectedMedia = computed(() => elementsStore.getSelectedMedia())
        const selectedMaterials = computed(() => elementsStore.getSelectedMaterials())

        watch([selectedMedia, selectedMaterials], (newValues) => {
            // we have a selection on both lists
            if (newValues[0].length > 0 && newValues[1].length > 0) {
                clearTimeout(timeout)
                timeout = window.setTimeout(async () => {
                    await reactionsStore.getReactions({
                        Materials: selectedMaterials.value,
                        Media: selectedMedia.value,
                    })
                }, 300)
            } else {
                reactionsStore.clearAllReactions()
            }
        })
    },
})
</script>

<style lang="postcss">
html,
body {
    @apply transition-colors duration-150;
    background-color: var(--color-background);
    color: var(--color-text);
}

.btn {
    @apply font-bold py-2 px-4;
}

.btn--primary {
    background-color: var(--color-blue-dark);
    color: var(--color-white);
}

input {
    color: var(--color-text);
    &:focus {
        @apply border-none;
    }

    &[type="text"] {
        @apply p-1;
    }
}
</style>
