@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-blue-light: #b2d2e8;
    --color-blue-middle-dark: #41576d;
    --color-blue-dark: #004388;
    --color-gray-light: #fafafa;
    --color-gray-middle-light: #efefef;
    --color-gray-middle: #bbb;
    --color-gray-middle-dark: #666;
    --color-gray-dark: #333;
    --color-white: #fff;

    --color-text: var(--color-gray-dark);
    --color-text-input: var(--color-gray-dark);
    --color-text-disabled: var(--color-gray-middle);

    --color-background: var(--color-white);
    --color-background-input: var(--color-white);

    --color-header-text: var(--color-white);
    --color-header-background: var(--color-blue-light);

    --color-tag-background: var(--color-gray-middle-light);

    --color-table-row-even: var(--color-gray-light);
}

.dark {
    --color-text: var(--color-gray-light);
    --color-text-input: var(--color-white);
    --color-text-disabled: var(--color-gray-middle-dark);

    --color-background: var(--color-gray-dark);
    --color-background-input: var(--color-blue-middle-dark);

    --color-header-text: var(--color-white);
    --color-header-background: var(--color-blue-dark);
    --color-tag-background: var(--color-gray-middle-dark);

    --color-table-row-even: var(--color-gray-middle-dark);
}
